<% include partials/header %>

<h1> This is a Campgrounds Page </h1>

<a href="/">Back</a>
<a href="/campgrounds/new">Create a new Camp</a>

<div class="container">
    <div class="row">
        <% campgrounds.forEach((camp) => { %>
            <div class="col-md-4">
                <img width="100%" src="<%= camp.img %>">
                <h4><%= camp.name %></h4>
            </div>
        <% }); %>
    </div>
</div>
<% include partials/footer %>
