<% include partials/header %>
<% include partials/navbar %>

<div class="container">
    <h1><%= detailedCamp.name %></h1>
    <img src="<%=detailedCamp.img%>" alt="">
    <p><%= detailedCamp.description %></p>
</div>

<% include partials/footer %>
